.input-chat {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 60px;
  padding: 5px;
  background-color: #fff;
  transition: all 0.25s ease 0s;

  ion-input {
    background-color: #eaeaea;
    border-radius: 22px;
    margin-right: 10px;

    input {
      padding: 5px !important;
    }
  }
}
